@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-xl px-4 py-2 
    focus:outline-none focus:ring-2 focus:ring-blue-900;
  }
  .error {
    @apply text-red-500 text-sm mt-1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
